<%- include("./partials/header") %>

<div class="booking">
    <form class="form" action="/booking" method="post">
        <h1>Book Your Table</h1>
        <h5>Name</h5>
        <input class="form-control" type="text" name="name" placeholder="Your name" >
        <h5>Email</h5>
        <input class="form-control" type="email" name="email" placeholder="Your email">
        <h5>Mobile Number</h5>
        <input class="form-control" type="text" name="number" placeholder="Your mobile number">
        <h5>Date</h5>
        <input class="form-control" type="date" name="date" placeholder="date">
        <br>
        <input class="sub-btn" type="submit" value="Book Now">
    </form>
</div>



<%- include("./partials/footer") %>