<%- include("./partials/header") %>

<header class="header">
    <div class="container">
        <h1>Trickster</h1>
        <p>
            <a href="/booking" class="btn">Book a Table</a>
            <a href="/menu" class="btn">Order Now</a>
        </p>
    </div>
</header>

<footer id="footer" class="padding-50 dark">
    <div class="conatiner">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Our Location</h3>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Dinner Location & Time</h3>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Lunch</h4>
                        <p class="media-content">
                            ORDER TIME: 7.00PM TO 11.00PM
                            <br>
                            DELIVERY TIME: 7.00PAM TO 11.00PM
                        </p>
                    </div>
                    
                </div>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading">Dinner</h4>
                        <p class="media-content">
                            ORDER TIME: 7.00PM TO 11.00PM
                            <br>
                            DELIVERY TIME: 7.00PAM TO 11.00PM
                        </p>
                    </div>
                </div>  
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <h3>Terms & Policy</h3>
                <ul>
                    <li class="policyName"><a href="#">Terms & Conditions</a></li>
                    <li class="policyName"><a href="#">Privacy Policy</a></li>
                    <li class="policyName"><a href="#">Food Policy</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<%- include("./partials/footer") %>


