<%- include("./partials/header") %>

<header>
      <div class="indexhead" id="home">
            <h3 class="landing-text">The Imperial Spice</h3>  
      </div>      
</header>
<br>
<div class="index-container">
      <p>
            <center><a href="/booking" class="bt" >Book a Table</a>
            <a href="/menu" class="bt" >Order Now</a></center>
      </p>
</div>
<div class="padding our_story">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  
                 <img src="https://www.keventer.com/uploads/pro_category/actual/1514621106_l.png" alt="">

              </div>

              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center story">
                 
                 <h1>Our Story</h1>
                 <hr>
                  <p class="lead" >Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah </p>
                  <p class="lead">Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah </p>
                  <p class="lead">Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah Bla bleh blu blah blah blah </p>

              </div>
          </div>  
      </div>
  </div>

  <div class="padding cuisine">
      <div class="container story">
          <div class="row">

              <center><h1>Exquisite Cuisine</h1></center>
              <hr>
              <div class="col-lg-6 col-sm-12">
                  <img src="https://media-cdn.tripadvisor.com/media/photo-s/12/60/29/63/flames-signature-dishes.jpg " alt="">
                 </div>
              <div class="col-lg-6 col-sm-12">
                  <img src="https://media-cdn.tripadvisor.com/media/photo-s/12/60/27/68/flames-signature-dishes.jpg" alt="">
              </div>
          </div>
      </div>
  </div>


<%- include("./partials/footer") %>

 


