<%- include("./partials/header") %>

<header>
    <h1 class="menu-header">Our Menu</h1>
</header>

<div class="veg-header">
    <h2>Veg</h2>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item">
                <img style="border-radius: 20px;" src="../stylesheets/images/veg-kofta.jpeg">
                <h3>veg-kofta</h3>
                <h4>Rs.200</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item">
                <img style="border-radius: 20px;" src="../stylesheets/images/veg-kadai.jpeg">
                <h3>veg-kadai</h3>
                <h4>Rs.180</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item">
                <img style="border-radius: 20px;" src="../stylesheets/images/panner-tikka.jpeg">
                <h3>Panner-Tikka-Masala</h3>
                <h4>Rs.250</h4>
            </div>
        </div>
    </div>
</div>

<br>

<div class="non-veg-header">
    <h2>Non-Veg</h2>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item">
                <img style="border-radius: 20px;" src="../stylesheets/images/chicken-kolhapuri.jpeg">
                <h3>Chicken-Kolhapuri</h3>
                <h4>Rs.220</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item">
                <img style="border-radius: 20px;" src="../stylesheets/images/mutton-kadai.jpeg">
                <h3>Mutton-Kadai</h3>
                <h4>Rs.280</h4>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="item">
                <img style="border-radius: 20px;" src="../stylesheets/images/butter-chicken.jpeg">
                <h3>Butter-Chicken</h3>
                <h4>Rs.200</h4>
            </div>
        </div>
    </div>
</div>


<%- include("./partials/footer") %>
