<%- include("./partials/header1") %>

        <form class="form" action="/users/register" method="post" name="form" onsubmit="return validated()">
            <h1>Register</h1>
            
            <h5>Name:</h5>
            <input class="form-control" type="text" name="name" placeholder="Your name">
            <div class="form_err" id="name_err">Please fill up your Name</div>
            <h5>Email:</h5>
            <input class="form-control" type="text" name="email" placeholder="Your email">
            <div class="form_err" id="email_err">Please fill up your Email</div>
            <div class="form_err" id="invalid_email">Please enter valid email address</div>
            <h5>Username:</h5>
            <input class="form-control" type="text" name="username" placeholder="username">
            <div class="form_err" id="username_err">Please fill up your Username</div>
            <h5>Password:</h5>
            <input class="form-control" type="password" name="password">
            <div class="form_err" id="pass_err">Please fill up your Password</div>
            <h5>Confirm Password:</h5>
            <input class="form-control" type="password" name="password2">
            <div class="form_err" id="pass2_err">Please fill up to confirm your password</div>
            <div class="form_err" id="confirmP_err">Passwords do not match</div>
            <br>
            <input class="btn btn-success" type="submit" value="Register">
            <p style="padding-left: 50px;">Already have an Account? <a href="/users/login">Login</a></p>
        </form>



<script>
    let name = document.forms['form']['name'];
    let email = document.forms['form']['email'];
    let username = document.forms['form']['username'];
    let password = document.forms['form']['password'];
    let password2 = document.forms['form']['password2'];
    let pattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

    let name_err = document.getElementById('name_err');
    let email_err = document.getElementById('email_err');
    let invalid_email = document.getElementById('invalid_email');
    let username_err = document.getElementById('username_err');
    let pass_err = document.getElementById('pass_err');
    let pass2_err = document.getElementById('pass2_err');
    let confirmP_err = document.getElementById('confirmP_err');


    function validated() {
        if(name.value.length === 0) {
            name.style.border = '1px solid red';
            name_err.style.display = 'block';
            name.focus();
            return false;
        }

        if(email.value.length === 0) {
            email.style.border = '1px solid red';
            email_err.style.display = 'block';
            email.focus();
            return false;
        }

        if(!email.value.match(pattern)) {
            email.style.border = '1px solid red';
            invalid_email.style.display = 'block';
            email.focus();
            return false;
        }

        if(username.value.length === 0) {
            username.style.border = '1px solid red';
            username_err.style.display = 'block';
            username.focus();
            return false;
        }

        if(password.value.length === 0) {
            password.style.border = '1px solid red';
            pass_err.style.display = 'block';
            password.focus();
            return false;
        }

        if(password2.value.length === 0) {
            password2.style.border = '1px solid red';
            pass2_err.style.display = 'block';
            password2.focus();
            return false;
        }

        if(password2.value !== password.value) {
            password.style.border = '1px solid red';
            password2.style.border = '1px solid red';
            confirmP_err.style.display = 'block';
            password.focus();
            password2.focus();
            return false;
        }
    }
</script>


<%- include("./partials/footer1") %>