@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#home{ 
    background : url(https://images.unsplash.com/photo-1558538337-aab544368de8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80) no-repeat center center fixed; 
    display: table; 
    height: 100vh; 
    position: relative; 
    width: 100%; 
    background-size: cover; 
}

.landing-text {
    text-align: center;
    padding-top: 430px;
    font-family: 'Caveat', cursive; 
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}

.heading {
    color: white;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.our_story {
    font-family: 'Caveat';
}

.ct-btn-scroll {
    width: 49px;
    height: 49px;
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 50px;
    z-index: 9;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s ease-in-out;
    transition: background-color 0.25s ease-in-out;
}

.cuisine {
    font-family: 'Caveat';
}

.lead {
    font-size: 25px;
} 

.book{
    background : url(https://images.pexels.com/photos/163999/pexels-photo-163999.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
   
}

.book>h1{
    font-family: 'Caveat';
    color: white;
}

.chef{
    font-family: 'Caveat';

}

.indexhead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.index-container img {
    width: 100%;
    height: 100vh;
}

.menu-container {
   
    font-family: 'Baloo Chettan 2', cursive;
    background-image: url(https://images.pexels.com/photos/277253/pexels-photo-277253.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
.product{
    border: 2px solid black;
}

.cart{

   margin-left: 160px; 

}

.temp{
    padding-top: 70px;
}

menu-container h4 a {
    float: right;
}

.price{
    margin-top: 30px;
    margin-left: 10px;
}

.cash{
    margin-right: 20px;
}

/* .test span{
    display: inline;
} */


.form {
    background-color:rgba(8, 7, 7,0.75);
    padding: 25px;
    border-radius: 10px;
}

.booking{
    height: 100vh;
    background: url('./images/tables.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
}

.booking h1 {
    text-align: center;
    color:gold;
    text-align-last: auto;
    font-weight: 600;
    font-family: sans-serif;
}
.booking h5 {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;
    padding-top: 10px;
}

.regis {
    min-height: 100vh;
    background: url('./images/login.jpg') no-repeat fixed;
    backface-visibility: 0.8;
    background-size: cover;
    background-position: center;
    padding-top: 2px;
}

.regis h1{
    text-align: center;
    color:gold;
    text-align-last: auto;
    font-weight: 600;
    font-family: sans-serif;
}

.regis h5 {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;
    padding-top: 10px;
}

.regis p {
    display: inline;
    padding-left: 50px;
    color: white;
    font-size: 15px;
}

.login1{
    min-height: 100vh;
    background: url('./images/login.jpg') no-repeat fixed;
    background-size: cover;
    background-position: center;
    padding-top: 85px;
}

.login1 h1 {
    text-align: center;
    color:gold;
    text-align-last: auto;
    font-weight: 600;
    font-family: sans-serif;
}

.login1 h5 {
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;
    padding-top: 10px;
}

.login1 p {
    display: inline;
    padding-left: 60px;
    color: white;
    font-size: 15px;
}

.bat{
    text-align: center;
    align-content: center;
}
#navbar{
    width: 900px;
}
.mainbody{
    background: linear-gradient(
        rgba(11, 148, 211, 0.664), rgba(40, 120, 194, 0.85), rgba(61, 119, 153, 0.733), rgba(116, 148, 184, 0)
    );
}
#navbar ul li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    widows: 120px;
    float: left;
    margin: 10px auto;
    text-align:center;

}

.navbar .navbar-inverse {
    margin-bottom: 0;
}

.line {
    width: 200px;
    height: 200px;
    margin-left: 20%;
    margin-bottom: 0;
}

.sub-btn:hover {
    background-color: orange;
    text-decoration: white;
}


.bt {
    display: inline-block;
    text-transform: uppercase;
    background: orange;
    border: 2px solid orange;
    border-radius: 100px;
    padding: 10px 20px;
    color: white;
} 

.bt:hover {
    background: white;
    text-decoration: none;
    border: none;
    color: lightcoral;
}

footer{
    width: 100%;
    background-color: black;
    padding: 5% 5% 10% 5%;
    color: #FFF;
    margin-bottom: none;

}

.fa{
    padding: 15px;
    font-size: 25px;
    color: #FFF;
}

.fa:hover{
    color: #D5D5D5;
    text-decoration: none;
}


#footermain{
    background: black; 
    width: 100vw;
    height: absolute;
    color: white;   
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}


#copyRight {
    background-color: black;
    color:white;
    margin: 0;
}

.media-content {
    color: #7a7a7a;
}

.policyName {
    list-style: none;
}

.form {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

.booking {
    margin: auto;
}

.thumbnail img {
    width: 95%;
    height: 240px;
}

.timing {
    font-size: 10px;
}

.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
  
.alert-succes{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

https://images.pexels.com/photos/349609/pexels-photo-349609.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
https://images.pexels.com/photos/256318/pexels-photo-256318.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500
